[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<3.0.0"
graphene-django = "==2.14.0"
django-filter = "==2.4.0"
django-admin = "*"

[dev-packages]

[requires]
python_version = "3.8"
